@import 'colors';
@import 'base';

/*
@import '_forms';
@import '_tables';
@import 'components/_widget1';

.widget1 {
  width: width('myimage.jpg');
  height: height('myimage.jpg');
  background-image: resolve('myimage.jpg');
}

.widget2 {
  background-image: inline('myimage.jpg');
}
1
2
3
.widget2 {
  background-image: inline('myimage.jpg');

*/

@import 'layout/layout';